joblib==1.4.2
# Editable install with no version control (my_custom_module==0.1)
-e /Users/lygt/Documents/data scientsist learning/techlent/homework/python developer/popular_selection/001_model
numpy==2.0.1
pandas==2.2.2
python-dateutil==2.9.0.post0
pytz==2024.1
scikit-learn==1.5.1
scipy==1.14.0
six==1.16.0
threadpoolctl==3.5.0
tzdata==2024.1
xgboost==2.1.1
